@import "../../global.scss";

.favorites {
  padding: 6em 0;
  margin-top: 350px !important;

  &__table {
    width: 100%;
    margin-bottom: 3em;
    border-collapse: collapse;
  }

  &__remove-btn {
    margin-left: 50px;
    background-color: transparent;
    border: none;
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: rgb(107, 14, 14) !important;
      background-color: transparent !important;
    }
  }

  &__thead {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.185);
  }

  &__row > * {
    padding: 0.3em;
    font-size: 1.2rem;
  }

  &__tr > * {
    padding: 0.3em;
    font-size: 1.2rem;
    border-bottom: 1px solid #ddd;
  }

  &__td {
    text-align: center;
    vertical-align: middle;
  }

  &__img {
    width: 70px;
    object-fit: cover;
  }

  &__product-name {
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: #333;
    &:hover {
      color: #007bff !important;
      text-decoration: underline;
    }
  }

  &__action-btn {
    padding: 0.15em;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 3px;
    color: white;
    font-size: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ffffff00;
      border: 1px solid #007bff;
      color: #007bff;
    }
  }

  &__total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
    font-size: 1.6rem;
    font-weight: bold;
    color: $main;
  }

  &__empty {
    @include flexCenter(column);
    gap: 2em;
    padding: 4em;
  }

  &__empty-title {
    font-size: 5rem;
  }

  &__empty-btn {
    padding: 0.9em 1.8em;
    background-color: $dark;
    color: $white;
    border: 1px solid $dark;
    border-radius: 12px;
    font-size: inherit;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0) !important;
      color: $dark;
      border: 1px solid $dark;
    }
  }

  &__modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__modal {
    @include flexCenter(column);
    gap: 1em;
    width: 90%;
    max-width: 550px;
    padding: 5em;
    background-color: $dark;
    color: $white;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  }

  &__modal-title {
    font-size: 3.5rem;
    text-align: center;
  }

  &__modal-text {
    text-align: center;
  }

  &__modal-btn {
    padding: 0.8em 2.4em;
    background: $main;
    color: $white;
    border-radius: 5px;
    border: 1px solid $dark;
    transition: border 0.3s ease, background-color 0.3s ease;

    &:hover {
      border: 1px solid white;
      background-color: inherit;
    }
  }
}

@media (min-width: 520px) {
  .favorites {
    &__row > * {
      padding: 1em;
      font-size: 1.4rem;
      text-align: left;
    }

    &__tr > * {
      padding: 0.8em;
      font-size: 1.4rem;
    }

    &__img {
      width: 70px;
    }

    &__price {
      font-size: 1.6rem;
    }

    &__empty-title {
      font-size: 5rem;
    }

    &__action-btn {
      padding: 0.3em;
    }
  }
}

@media (min-width: 760px) {
  .favorites {
    &__btn {
      padding: 0.8em 1.6em;
      transition: background-color 0.3s ease;
      font-size: inherit;

      &:hover {
        background-color: $main;
      }
    }

    &__action-btn {
      padding: 0.4em;
      height: 2.5em;
      font-size: 1.2rem;
    }

    &__empty-btn {
      transition: background-color 0.3s ease;
    }

    &__empty-btn:hover {
      background-color: $main;
    }

    &__modal-btn {
      transition: border 0.3s ease, background-color 0.3s ease;

      &:hover {
        border: 1px solid white;
        background-color: inherit;
      }
    }
  }
}
