@use "../../global.scss" as *;
@use "sass:color";

.slider {
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
  }

  &__box {
    min-height: 240px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: $realwhite;
    border-radius: 8px;
    margin: 0 10px;
    max-height: 200px;
    box-shadow: 0 0 7px $slider-shadow;

    &:hover {
      transform: translateY(-5px);
      transition: transform 0.5s ease;
    }
  }
}

.sliderItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  cursor: pointer;
  height: 100%;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $slider-hover;
  }

  &__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    flex-shrink: 0;
    margin-bottom: 0.5em;
    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease;
    }
  }

  &__name {
    font-size: 1.4rem;
    font-weight: 500;
    color: $account-title;
    text-align: center;
    transition: color 0.3s ease;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3em;
    max-height: 2.6em;
    min-height: 2.6em;
    flex-shrink: 0;

    &:hover {
      text-decoration: underline;
      color: $btn-primary-blue;
    }
  }

  &__price {
    font-size: 1.5rem;
    font-weight: bolder;
    color: $error-red;
    flex-shrink: 0;
    @media (max-width: 768px) {
      font-size: 1em;
    }
  }

  &__btn-fav {
    background-color: $slider-btn-bg;
    padding: 5px 8px 5px 8px;
    border: none;
    cursor: pointer;
    color: $modal-close-red;
    margin-top: auto;
  }

  @media (max-width: 596px) {
    &__name {
      font-size: 1rem;
    }
  }
}
