@import "../../global.scss";

.slider {
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
  }

  &__box {
    min-height: 240px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    margin: 0 10px;
    max-height: 200px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  }
}

.sliderItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
  padding: 1em;
  cursor: pointer;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f3f3f3;
  }

  &__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
  }

  &__name {
    font-size: 1.4rem;
    font-weight: 500;
    color: #333;
    text-align: center;
    transition: color 0.3s ease;

    &:hover {
      text-decoration: underline;
      color: #007bff;
    }
  }

  &__price {
    font-size: 1.2rem;
    font-weight: 400;
    color: #333;
  }

  &__btn-fav {
    background: none;
    border: none;
    cursor: pointer;
  }

  @media (max-width: 596px) {
    &__name {
      font-size: 1rem;
    }
  }
}
