.admin-panel {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  .admin-aside {
    width: 320px;
    background-color: #f6f6f6;
    padding: 20px 20px;
    transition: width 0.3s ease;
    overflow-x: hidden;

    &--open {
      width: 320px;
    }

    &--closed {
      width: 70px;
      overflow: hidden;

      .admin-aside__title,
      .admin-aside__desc {
        display: none;
      }
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 1rem;

      .admin-aside__toggle {
        background: none;
        border: none;
        font-size: 1.3rem;
        cursor: pointer;
        color: #000;
        margin-right: 10px;
      }
    }

    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: #e9e9e9;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #c0c0c0;
      border-radius: 4px;
      &:hover {
        background-color: #a0a0a0;
      }
    }

    &__title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 0.5rem;
      background-color: #e9e9e9;
      padding: 10px 10px 10px 10px;
      border-radius: 5px;
    }
    &__desc {
      font-size: 18px;
      margin-bottom: 20px;
      font-weight: 700;
      text-align: center;
    }

    &__nav {
      background-color: #e9e9e9;
      border-radius: 5px;
      padding: 10px;
      min-width: 70px;

      .admin-aside__list {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }

    &__list {
      list-style: none;
      padding: 0;
    }

    &__link {
      text-decoration: none;
      color: #6f7d83;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      padding: 8px;

      &-icon {
        margin-right: 10px;
      }

      &--active {
        color: #1f3442;
        background-color: #d0e5f2;
        font-weight: 700;
        border-radius: 5px;
      }

      &--logout {
        color: #fff !important;
        background-color: #000;
        border-radius: 5px;
      }
    }
  }

  .admin-wrapper {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: #eff3f4;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #c0c0c0;
      border-radius: 4px;
      &:hover {
        background-color: #a0a0a0;
      }
    }

    .admin-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid #eff3f4;
      height: 80px;
      padding: 0 50px;

      &__title {
        color: #6f7d83;
      }
      &__user {
        display: flex;
        align-items: center;

        &-av {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        &-hello {
          margin-left: 10px;
          color: #6f7d83;
        }
      }
    }

    .admin-main {
      padding: 30px;
    }
  }
}

.table {
  border: 1px solid #ccc;

  th,
  td {
    border: 1px solid #ccc;
  }
}

.table-button {
  background: none;
  border: none;
  margin: 0 5px;
  cursor: pointer;

  &--delete {
    color: #bb2d3b;
  }
  &--edit {
    color: #157347;
  }
}

.small-box {
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;

  &.bg-primary {
    background-color: #0d6efd;
  }
  &.bg-success {
    background-color: #198754;
  }
  &.bg-warning {
    background-color: #ffc107;
  }
  &.bg-danger {
    background-color: #dc3545;
  }
  .inner {
    h3 {
      font-size: 2rem;
      font-weight: bold;
    }
    p {
      font-size: 1.1rem;
    }
  }
}
