.navbar {
  display: none;
}
.hero {
  display: none;
}
.admin-panel {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: #1f2937;
  color: #e5e7eb;

  .admin-aside {
    background-color: #111827;
    padding: 20px;
    transition: width 0.3s ease;
    overflow-x: hidden;

    &--open {
      width: 300px;
    }

    &--closed {
      width: 80px;
    }

    &__header {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }

    &__toggle {
      background: none;
      border: none;
      font-size: 1.3rem;
      cursor: pointer;
      color: #fff;
    }

    &__title {
      font-size: 20px;
      font-weight: 700;
      color: #fff;
    }

    &__nav {
      margin-top: 20px;
    }

    &__list {
      list-style: none;
      padding: 0;
    }

    &__link {
      display: flex;
      align-items: center;
      padding: 10px;
      color: #9ca3af;
      border-radius: 10px;
      margin-bottom: 10px;
      text-decoration: none;
      transition: background-color 0.3s;

      svg {
        margin-right: 10px;
      }

      &:hover {
        background-color: #374151;
      }

      &--active {
        background-color: #6366f1;
        color: #fff;
      }

      &--logout {
        margin-top: 1rem;
        margin-left: 10px;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        background-color: #dc3545;
        color: #fff;
      }
    }
  }

  .admin-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: #1f2937;

    .admin-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 30px;
      flex: 1;
      max-width: 1200px;
    }

    header {
      width: 100%;
    }
  }

  .stat_Cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;

    &__content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      border-radius: 1rem;
      background-color: #374151;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;
      width: 250px;
      border: #7694d165 1px solid;

      &:hover {
        transform: scale(1.05);
      }
    }

    &__icon{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      font-size: 1.8rem;
      gap: 1rem;
    }

    &__text{
      font-size: 2.5rem;
      font-weight: 600;
      color: #fff;
    }
  }

  .admin-top-header{
    width: 100%;
    color: #fff;
    background-color: #081227;
    padding: 2rem;
    border-bottom: #7d8fad 1px solid;
    box-shadow: 0 8px 8px rgba(118, 118, 118, 0.2);
    letter-spacing: 0.2rem;
  }

  .welcome-text{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
  }
}