@import "../../global.scss";

.productPage {
  padding: 4em 1em;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 1100px;
    width: 100%;
    padding: 2em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  &__review-stars {
    display: flex;
    gap: 0.2rem;

    &__star {
      color: #ccc;
      font-size: 1.5rem;
    }

    &__star--active {
      color: #ffcc00;
      font-size: 1.5rem;
    }
  }

  &__specs table {
    width: 100%;
    border-collapse: collapse;

    td {
      padding: 8px;
      border: 1px solid #ddd;
      text-align: left;
    }

    td:first-child {
      font-weight: bold;
    }
  }

  &__specs {
    margin-top: 2rem;

    h3 {
      font-size: 1.8rem;
      color: #444;
      margin-bottom: 1rem;
    }
  }

  &__review {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: #fafafa;
  }

  &__review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    span {
      font-weight: bold;
      color: #333;
    }

    &__stars {
      display: flex;
      gap: 0.2rem;

      &__star {
        color: #ccc;
      }

      &__star--active {
        color: #ffcc00;
      }
    }
  }

  &__images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    text-align: center;
  }

  &__slider {
    display: flex;
    align-items: center;
    gap: 1em;
    position: relative;
  }

  &__arrow {
    background: none;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    color: #444;
    transition: color 0.3s ease;

    &:hover {
      color: #ff5733;
    }

    @media (max-width: 850px) {
      font-size: 1.5rem;
      max-width: 20px;
    }
  }

  &__main-img {
    width: 100%;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
    transition: transform 0.2s linear;

    &:hover {
      transform: scale(1.02);
    }

    @media (max-width: 850px) {
      max-width: 200px;
      height: auto;
    }
  }

  &__thumbnails {
    display: flex;
    gap: 1em;
    max-width: 100%;
    overflow-x: auto;
    padding: 0.5em;
    background-color: #e6e6e6;
    border-radius: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);

    img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      border: 2px solid transparent;
      border-radius: 8px;
      cursor: pointer;
      transition: border-color 0.3s ease, transform 0.3s ease;

      &:hover {
        border-color: #ff5733;
        transform: scale(1.05);
      }

      &.active {
        border-color: #ff5733;
      }

      @media (max-width: 850px) {
        width: 50px;
        height: 50px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: bold;
    color: #222;
  }

  &__category {
    font-size: 2rem;
    color: #303030;
    background-color: $main;
    padding: 5px 5px 5px 5px;
    text-align: center;
    border-radius: 8px;
    max-width: 350px;
  }

  &__prices {
    display: flex;
    gap: 1em;
    align-items: baseline;

    &__old-price {
      text-decoration: line-through !important;
      color: #999;
      font-size: 1.4rem;
    }

    &__current-price {
      font-size: 1.8rem;
      font-weight: bold;
      color: #ff5733;
    }
  }

  &__desc {
    h4 {
      margin-bottom: 0.5em;
      font-size: 1.4rem;
      color: #444;
    }

    p {
      line-height: 1.6;
      margin-bottom: 0.8em;
      font-size: 1.1rem;
      color: #555;
    }
  }

  &__buttons-top {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 1em;

    .productPage__cart-btn,
    .productPage__fav-btn {
      background-color: #ffcccb;
      border: 2px solid #ddd;
      border-radius: 25px;
      padding: 0.8em 2em;
      font-size: 1.2rem;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;
      font-weight: 500;
      background: #ffcccb;

      &:hover {
        background-color: #ff5733;
        color: #fff;
        transform: scale(1.05);
      }

      &:focus {
        outline: none;
      }

      @media (max-width: 850px) {
        padding: 0.5em 1em;
        font-size: 1rem;
      }
    }

    .productPage__cart-btn {
      color: black;
      border: 1px solid #333;
      background-color: #ffe4b5;

      &:hover {
        background-color: #ffa500;
      }
    }

    .productPage__fav-btn {
      color: black;
      border: 1px solid #333;
      background-color: #e6e6fa;

      &:hover {
        background-color: #9370db;
      }
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);

    .productPage__overlay-close {
      position: absolute;
      top: 120px;
      right: 20px;
      background-color: #ff1100;
      color: #fff;
      border: none;
      padding: 0.5em 1em;
      font-size: 1rem;
      width: 35px;
      height: 35px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #d32f2f;
      }
    }
  }

  .productPage__overlay-image {
    max-width: 80%;
    max-height: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 850px) {
  .productPage__main-img {
    max-width: 200px;
    margin-top: 10px;
    height: auto;
  }

  .productPage__arrow {
    font-size: 1.5rem;
    max-width: 20px;
  }
}
