@import "../../global.scss";

.client-account {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  background: linear-gradient(135deg, $card-gradient-start, $card-gradient-end);
  border-radius: 8px;
  box-shadow: 0 2px 8px $stats-shadow;

  h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: $account-title;
  }

  .account-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .form-group {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 0.5rem;
        font-weight: bold;
        color: $account-label;
        font-size: 1.8rem;
      }

      input {
        padding: 0.5rem;
        font-size: 1.6rem;
        border: 1px solid $account-input-border;
        border-radius: 4px;
        margin-bottom: 1rem;
        transition: border-color 0.2s;
        background: linear-gradient(
          135deg,
          $account-input-start,
          $account-input-end
        );

        &:focus {
          outline: none;
          border-color: $btn-primary-blue;
        }
      }
    }

    .error-message {
      color: $modal-close-red;
      font-size: 1.9rem;
      text-align: left;
    }

    .btn-submit {
      padding: 1rem 2rem;
      font-size: 1.7rem;
      border: none;
      background-color: $btn-primary-blue;
      color: $realwhite;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.2s;
      margin-top: 1rem;

      &:hover {
        background-color: $submit-hover;
      }
    }
  }
}

@media (max-width: 576px) {
  .client-account {
    padding: 0.5rem;
    h1 {
      font-size: 1.5rem;
    }
    .account-form {
      .form-group {
        input {
          font-size: 0.9rem;
          padding: 0.4rem;
        }
      }
      .btn-submit {
        font-size: 0.9rem;
        padding: 0.6rem;
      }
    }
  }
}
