@import "../../global.scss";

.container {
  padding: 1rem;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.client-dashboard {
  height: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 25%;
    max-width: 50%;
  }
}

.small-box {
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  height: 100%;

  &.bg-primary {
    background-color: #007bff;
    color: white;
  }

  &.bg-danger {
    background-color: #dc3545;
    color: white;
  }

  &.bg-success {
    background-color: #3bdc35;
    color: white;
  }

  &.bg-info {
    background-color: #dca235;
    color: white;
  }

  &:hover {
    transform: translateY(-3px);
  }

  .inner {
    text-align: center;

    h3 {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1.1rem;
      margin: 0;
    }
  }
}

.order-trends-chart,
.category-distribution-chart {
  margin-bottom: 30px;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container {
  width: 60%;
  height: 400px;
}

@media (max-width: 1100px) {
  .margin-bottom-4 {
    margin-bottom: 1rem;
    max-width: 250px;
  }
}

.font-size-4 {
  font-size: 2.5rem !important;
}

.summary-title {
  font-size: 1.2rem !important;
  color: $realwhite;
  margin-bottom: 0.5rem;
}

.order-summary {
  h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }

  .summary-box {
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    height: 100%;

    h3 {
      font-size: 2rem;
      color: #333;
    }
  }
}

.dashboard-charts {
  h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .chart-container {
    max-width: 100%;
    margin: 0 auto;

    canvas {
      width: 100% !important;
      height: auto !important;
    }
  }
}

.dashboard-recommendations {
  h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  .recommendations-grid {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 1.5em;
    background-color: #f1f1f1;
    border-radius: 10px;
    overflow-x: auto;

    @media (max-width: 992px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    .recommendation-card {
      background: $realwhite;
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      padding: 0.5rem;
      text-align: center;
      width: 250px;
      flex: 1;
      min-width: 200px;
      max-width: 250px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      &:hover {
        transform: translateY(-5px);
        transition: transform 0.5s ease;
      }

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 0.5rem;

        &:hover {
          transform: scale(0.95);
          transition: transform 0.3s ease;
        }
      }

      p {
        margin-top: 0.5rem;
        font-size: 1.2rem;
        color: #333;

        &:hover {
          color: #007bff;
          text-decoration: underline;
        }
      }

      @media (max-width: 768px) {
        min-width: 45%;
      }

      @media (max-width: 576px) {
        min-width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  .small-box {
    .inner {
      h3 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  .order-summary .summary-box {
    padding: 0.8rem;
  }

  .chart-container {
    width: 100%;
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #6366f1;
  animation: spin 1s ease-in-out infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.productPage {
  &__main-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }

  &__arrow {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #444;
    padding: 0.5em;

    &:hover {
      color: #ff5733;
    }
  }
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;

  @media screen and (max-width: 1100px) {
    display: flex;
    justify-content: center;
  }
}
