@import "../../global.scss";

.modal {
  &-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.2s ease-in-out;
  }

  &-content2 {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    width: 90%;
    max-width: 800px;
    max-height: 90vh;
    overflow-y: auto;
    animation: slideIn 0.3s ease-in-out;
  }

  &-header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid black;

    h2 {
      margin: 0;
      font-size: 2.2rem;
      font-weight: 600;
    }

    .close-button {
      background: $modal-close-danger;
      border: none;
      font-size: 2.2rem;
      cursor: pointer;
      color: black;
      font-weight: bold;
      transition: color 0.2s;
      border: 1px solid $modal-close-danger;

      &:hover {
        background: rgba(255, 255, 255, 0);
        color: $modal-close-danger;
        border: 1px solid $modal-close-danger;
      }
    }
  }

  &-body2 {
    padding: 20px;
    color: black;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
