@import "../../global.scss";

.order-detail-modal,
.complaint-detail-modal {
  p {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;

    strong {
      color: $text-black;
    }
  }

  h3 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  .table-responsive {
    overflow-x: auto;
    margin-top: 1.5rem;
  }

  .modal-table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 1rem;
      border-bottom: 1px solid $border-light;
    }

    th {
      background-color: $modal-table-header;
      font-weight: 600;
      text-align: center;
      font-size: 1.6rem;
    }

    td {
      font-size: 1.5rem;
      text-align: center;
      vertical-align: middle;

      img {
        max-width: 100px;
        max-height: 100px;
        object-fit: contain;
      }
    }
  }

  .status {
    &-pending,
    &-rejected,
    &-resolved,
    &-processing,
    &-shipped,
    &-delivered,
    &-cancelled {
      background-color: $client-status-badge-bg;
      display: inline-block;
      padding: 0.25rem 0.75rem;
      border-radius: 9999px;
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }

    &-pending {
      color: $alert-warning-bg;
    }

    &-rejected {
      color: $client-status-rejected-badge;
    }

    &-resolved {
      color: $client-status-resolved-badge;
    }

    &-processing {
      color: $blue;
    }

    &-shipped {
      color: $client-status-shipped;
    }

    &-delivered {
      color: $client-status-resolved;
    }

    &-cancelled {
      color: $modal-close-red;
    }
  }
}

@media (max-width: 768px) {
  .modal-content2 {
    width: 95%;
  }

  .order-detail-modal,
  .complaint-detail-modal {
    p {
      font-size: 1.6rem;
    }

    h3 {
      font-size: 1.8rem;
    }

    .modal-table {
      th {
        font-size: 1.4rem;
      }

      td {
        font-size: 1.3rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .modal-header h2 {
    font-size: 1.8rem;
  }

  .order-detail-modal,
  .complaint-detail-modal {
    p {
      font-size: 1.4rem;
    }

    h3 {
      font-size: 1.6rem;
    }
  }
}
