@import "../../global.scss";

.pricing {
  padding: 4em 0 8em;

  &__title {
    margin-bottom: 1em;
    padding: 0.5em;
    text-align: center;
    font-size: 4rem;
    font-style: italic;
  }

  &__subtitle {
    margin-bottom: 1em;
    padding: 0.5em;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    padding: 0 0.5em;
  }

  &__box {
    border-radius: 5px;
    position: relative;
    width: 300px;
    padding: 2em;
    background-color: #222222;
    color: $white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__thumbnail {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  &__box-title {
    margin-top: 1em;
    font-weight: 500;
    font-size: 1.6rem;
    color: whitesmoke;
    text-align: center;
  }

  &__link {
    display: block;
    width: fit-content;
    margin-top: 1em;
    padding: 0.8em 1.8em;
    background-color: $main;
    font-size: 1.4rem;
    color: $white;
    border: 1px solid $main;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
      color: #007bff;
      background-color: #ffffff00;
    }
  }
}

@media (min-width: 768px) {
  .pricing {
    &__link {
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    &__box {
      width: 350px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $dark;
      }
    }
  }
}

@media (min-width: 996px) {
  .pricing {
    &__container {
      flex-direction: row;
    }

    &__title {
      font-size: 6rem;
    }
  }
}
