@use "../../global.scss" as *;
@use "sass:color";

.pricing {
  padding: 4em 0 8em;

  &__title {
    margin-bottom: 1em;
    padding: 0.5em;
    text-align: center;
    font-size: 4rem;
    font-style: italic;
  }

  &__subtitle {
    margin-bottom: 1em;
    padding: 0.5em;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    padding: 0 0.5em;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2em;
    height: 100%;
    position: relative;
    background: $darkblack;
    border-radius: 15px;
    min-height: 350px;
    max-height: 350px;
    width: 100%;
    background-color: darken(#000000, 5%);

    &:hover {
      transform: translateY(-5px);
      transition: transform 0.5s ease;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
  }

  &__thumbnail {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
    flex-shrink: 0;
    &:hover {
      transform: scale(1.02);
      transition: transform 0.3s ease;
    }
  }

  &__box-title {
    margin-top: 1em;
    font-weight: 500;
    font-size: 1.6rem;
    color: whitesmoke;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3em;
    max-height: 2.6em;
    min-height: 2.6em;
    flex-shrink: 0;

    &:hover {
      color: $btn-primary-blue;
      text-decoration: underline;
    }
  }

  &__link {
    display: block;
    width: fit-content;
    margin-top: auto;
    padding: 0.8em 1.8em;
    background-color: $main;
    font-size: 1.4rem;
    color: $white;
    border: 1px solid $main;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  @media (min-width: 768px) {
    &__link {
      &:hover {
        color: $main;
        background-color: $darkblack;
        border: 1px solid $main;
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(233, 30, 99, 0.3);
      }
    }

    &__box {
      width: 350px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $dark;
      }
    }
  }

  @media (min-width: 996px) {
    &__container {
      flex-direction: row;
    }

    &__title {
      font-size: 6rem;
    }
  }
}
