@import "../../global.scss";

.productPage {
  margin-top: 50px;
  padding: 4em 1em;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 1100px;
    width: 100%;
    padding: 2em;
    border-radius: 8px;
  }

  &__review-stars {
    display: flex;
    gap: 0.2rem;

    &__star {
      color: #ccc;
      font-size: 2rem;
    }

    &__star--active {
      color: #ffcc00;
      font-size: 2rem;
    }
  }

  &__specs table {
    width: 100%;
    border-collapse: collapse;

    td {
      padding: 8px;
      border: 1px solid #ddd;
      text-align: left;
    }

    td:first-child {
      font-weight: bold;
    }
  }

  &__specs {
    margin-top: 2rem;

    h1 {
      margin-bottom: 0.5em;
      font-size: 2.1rem;
      color: #000000;
      text-align: left;
      text-decoration: underline;
    }

    h3 {
      font-size: 1.8rem;
      color: #444;
      margin-bottom: 1rem;
    }
  }

  &__reviews {
    margin-top: 20px;
    h1 {
      margin-bottom: 0.5em;
      font-size: 2.1rem;
      color: #000000;
      text-align: left;
      text-decoration: underline;
    }
  }

  &__review {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: #fafafa;
  }

  &__review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    @media (max-width: 480px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    span {
      font-weight: bold;
      color: #333;
    }

    &__stars {
      display: flex;
      gap: 0.2rem;

      &__star {
        color: #ccc;
      }

      &__star--active {
        color: #ffcc00;
      }
    }
  }

  &__images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    text-align: center;
    float: left;
    @media (max-width: 640px) {
      float: none;
      margin-bottom: 50px;
    }
  }

  &__slider {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__arrow {
    background: none;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    color: #444;
    transition: color 0.3s ease;
    padding: 0.4rem 0.8rem;

    &:hover {
      color: #ff5733;
    }

    @media (max-width: 850px) {
      font-size: 1.5rem;
      max-width: 20px;
      margin-right: 20px;
    }
  }

  &__main-img {
    width: 100%;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
    transition: transform 0.2s linear;

    &:hover {
      transform: scale(1.02);
    }

    @media (max-width: 850px) {
      max-width: 200px;
      height: auto;
    }
  }

  &__thumbnails {
    display: flex;
    gap: 1em;
    max-width: 100%;
    overflow-x: auto;
    padding: 0.5em;
    background-color: #e6e6e6;
    border-radius: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);

    img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      border: 2px solid transparent;
      border-radius: 8px;
      cursor: pointer;
      transition: border-color 0.3s ease, transform 0.3s ease;

      &:hover {
        border-color: #ff5733;
        transform: scale(1.05);
      }

      &.active {
        border-color: #ff5733;
      }

      @media (max-width: 850px) {
        width: 50px;
        height: 50px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    float: right;
    @media (max-width: 640px) {
      float: none;
    }

    &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5em;
      padding-left: 50px;
      @media (max-width: 768px) {
        gap: 0em;
        padding-left: 0px;
      }
    }
  }

  &__title {
    font-size: 2.8rem;
    font-weight: bold;
    color: #222;
    text-align: center;
    @media (max-width: 640px) {
      font-size: 2rem;
    }
  }

  &__category {
    font-size: 1.8rem;
    color: #000000;
    margin-bottom: 0.5em;
    border: 1px solid black;
    padding: 0.5em;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 1.7rem;
      padding: 8px;
      max-width: 350px;
    }
    @media (max-width: 640px) {
      min-width: 100%;
    }

    @media (max-width: 480px) {
      font-size: 1rem;
      padding: 0.6rem 1.2rem;
      max-width: 300px;
    }
  }

  &__description {
    margin-top: 50px;
  }

  &__prices {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    margin-bottom: 1em;
  }

  &__old-price {
    font-size: 2.5rem;
    text-decoration: line-through;
    color: rgb(107 114 128 / var(--tw-text-opacity));
    text-decoration-line: line-through;
    font-weight: bold;
    @media (max-width: 768px) {
      font-size: 1.5em;
    }
  }

  &__current-price {
    font-size: 3.5rem;
    font-weight: bolder;
    color: rgb(239 68 68);
    margin-bottom: 0.5em;
    @media (max-width: 768px) {
      font-size: 1.5em;
    }
  }

  &__desc {
    h1 {
      margin-bottom: 0.5em;
      font-size: 2.1rem;
      color: #000000;
      text-align: left;
      text-decoration: underline;
    }

    h2 {
      margin-bottom: 0.5em;
      font-size: 1.6rem;
      color: #000000;
      text-align: left;
    }

    h3 {
      margin-bottom: 0.5em;
      font-size: 2.2rem;
      color: #000000;
    }

    p {
      line-height: 1.6;
      margin-bottom: 0.8em;
      font-size: 1.6rem;
      color: #555;
    }

    @media (max-width: 768px) {
      font-size: 1.7rem;
    }

    @media (max-width: 480px) {
      font-size: 1.5rem;
    }
  }

  &__buttons-top {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 1em;

    .productPage__fav-btn {
      height: 2em;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;
      font-weight: 500;
      position: absolute;
      top: 10px;
      right: 0px;
      z-index: 1;
      box-sizing: border-box;
      user-select: none;
      vertical-align: middle;
      appearance: none;
      text-align: center;
      font-size: 3rem;
      outline: 0px;
      border-width: 0px;
      margin: 0px;
      text-decoration: none;
      flex: 0 0 auto;
      border-radius: 50%;
      overflow: visible;
      background-color: #ddd;
      padding: 5px 8px 5px 8px;

      &:hover {
        background-color: #007bff;
        transform: scale(1.1);
      }

      &:focus {
        outline: none;
      }

      @media (max-width: 850px) {
        font-size: 2rem;
      }
      @media (max-width: 640px) {
        font-size: 3.5rem;
      }
    }

    .productPage__fav-btn {
      color: red;

      &:hover {
        background-color: #007bff;
      }
    }
  }

  .productPage {
    &__cart-btn {
      font-size: 3rem;
      max-width: 200px;
      border: 1px solid #007bff;
      &:hover {
        border: 1px solid #007bff;
        background-color: #fff;
        color: #007bff;
      }

      &:active {
        transform: scale(0.95);
      }

      @media (max-width: 768px) {
        font-size: 1.1em;
        padding: 0.4em 0.9em;
        margin-left: 0.5em;
      }

      @media (max-width: 480px) {
        font-size: 1em;
        padding: 0.8em 0.8em;
        margin-left: 0;
        max-width: 130px;
      }
    }
    &__btn_price {
      display: flex;
      justify-content: space-around;
    }
  }

  @keyframes fadeInBounce {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }

    60% {
      opacity: 1;
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100000;

    .productPage__overlay-close {
      position: absolute;
      top: 120px;
      right: 20px;
      background-color: #ff1100;
      color: #fff;
      border: none;
      padding: 0.5em 1em;
      font-size: 1rem;
      width: 35px;
      height: 35px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #d32f2f;
      }
    }
  }

  .productPage__overlay-image {
    max-width: 80%;
    max-height: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 850px) {
  .productPage__main-img {
    max-width: 200px;
    margin-top: 10px;
    height: auto;
  }

  .productPage__arrow {
    font-size: 1.5rem;
    max-width: 20px;
  }
}

.tags {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: #6a6a6a;
  @media (max-width: 480px) {
    font-size: 0.8rem;
  }

  .tagsHeader {
    font-weight: bold;
    color: #333;
    font-size: 1.8rem;
    @media (max-width: 480px) {
      font-size: 0.8rem;
    }
  }

  span {
    margin-right: 1rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .tag {
    display: inline-block;
    padding: 0.3em 0.85em;
    border: 2px solid #28242f;
    border-radius: 2em;
    text-transform: uppercase;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    @media (max-width: 480px) {
      font-size: 0.8rem;
    }

    &:hover {
      transform: scale(1.05);
      background: linear-gradient(to right, #ff8a00, #da1b60);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: default;
    }
  }

  @media (max-width: 768px) {
    font-size: 1.6rem;

    .tagsHeader {
      font-size: 1.5rem;
    }

    span {
      margin-right: 0.8rem;
    }

    .tag {
      padding: 0.25em 0.75em;
      font-size: 1rem;
    }
  }

  @media (max-width: 480px) {
    flex-wrap: wrap;
    font-size: 1.4rem;

    .tagsHeader {
      font-size: 1.5rem;
    }

    span {
      margin-right: 0.5rem;
    }

    .tag {
      padding: 0.2em 0.6em;
      margin-bottom: 0.5rem;
    }
  }
}
