@import "../../global.scss";

.accordion {
  @include flexCenter(column);
  gap: 2em;
  padding: 3em 1em;

  &__title {
    margin-bottom: 1.5em;
    text-align: center;
    font-size: 4rem;
    font-style: italic;
  }

  &__wrapper {
    gap: 2em;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }

  &__img {
    max-width: 500px;
    height: 70vh;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 6px;
  }

  &__questions {
    @include flexCenter(column);
    gap: 1em;
    width: 100%;
    max-width: 600px;
  }

  &__item {
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    cursor: pointer;
    background-color: #d8d8d8cc;
  }

  &__question {
    font-size: 1.6rem;
  }

  &__answer {
    padding: 10px;
    background-color: rgba(253, 253, 253, 0.678);
  }
}

@media (max-width: 1024px) {
  .accordion {
    padding: 5em 0.5em;

    &__wrapper {
      gap: 2em;
    }

    &__questions {
      width: 50%;
    }

    &__img {
      max-height: 700px;
    }

    &__box {
      transition: color 0.3s ease;

      &:hover {
        color: $main;
      }
    }
  }
}

@media (max-width: 768px) {
  .accordion {
    padding: 2em 0.5em 0 0.5em;

    &__wrapper {
      gap: 2em;
    }

    &__questions {
      width: 90%;
      gap: 0;
    }

    &__img {
      display: none;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__box {
      transition: color 0.3s ease;

      &:hover {
        color: $main;
      }
    }
  }
}
