@import "../../global.scss";

.accordion {
  /* Podstawowy kontener, tytuł na środku ekranu */
  @include flexCenter(column);
  gap: 2em;
  padding: 3em 1em;

  /* Tytuł FAQ */
  &__title {
    margin-bottom: 1.5em;
    text-align: center;
    font-size: 4rem;
    font-style: italic;
    /* Dodatkowo można ustawić align-self: center, ale flexCenter(column) i text-align: center wystarczy */
  }

  /* Wrapper na obrazek + pytania */
  &__wrapper {
    @include flexCenter(column);
    gap: 2em;
    width: 100%;
    max-width: 1200px;
  }

  &__img {
    max-width: 500px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 6px;
  }

  /* Sekcja z pytaniami */
  &__questions {
    @include flexCenter(column);
    gap: 1em;
    width: 100%;
    max-width: 600px;
  }

  &__item {
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    cursor: pointer;
    background-color: #d8d8d8cc;
  }

  &__question {
    font-size: 1.6rem;
  }

  &__answer {
    padding: 10px;
    background-color: rgba(253, 253, 253, 0.678);
  }
}

/* Responsywność */
@media (min-width: 1024px) {
  .accordion {
    padding: 5em 0.5em;

    &__wrapper {
      /* Na większych ekranach obrazek i pytania w wierszu */
      flex-direction: row;
      align-items: flex-start; /* Pytania i obrazek zaczynają się od góry */
      gap: 3em;
    }

    &__img {
      max-width: 450px; /* ewentualna korekta */
    }

    &__box {
      transition: color 0.3s ease;

      &:hover {
        color: $main;
      }
    }
  }
}
