@use "../../global.scss" as *;
@use "sass:color";

.notFound {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: $dark-border;

  &__icon {
    font-size: 20rem;
  }

  &__error {
    font-size: 8rem;
  }

  &__notFound__title,
  &__text,
  &__error,
  &__icon {
    color: $realwhite;
  }
}
