@import "../../global.scss";

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  color: $white;
  background-color: #0a0a0a;
  transition: background-color 0.3s ease;

  &__section {
    display: flex;
    align-items: center;
  }

  &__logo {
    &-wrapper {
      display: flex;
      justify-content: center;
      @media (max-width: 660px) {
        display: none;
      }
    }
  }

  &__links {
    padding-left: 1em;
    @media (max-width: 660px) {
      padding-left: 0em;
    }
  }

  &__categories {
    position: relative;
    padding-bottom: 5px;

    .navbar__dropdown {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #111;
      color: #333;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      padding: 0.5rem 1rem;
      z-index: 1000;
      flex-direction: column;
      gap: 0.5rem;
      font-size: 1.4rem;
      @media (max-width: 660px) {
        top: 0px;
        left: 100px;
      }

      .navbar__main-category {
        position: relative;

        &:hover .navbar__subcategories {
          display: flex;
        }

        .navbar__main-category-name {
          font-size: 1.4rem;
          color: #e6dbdb;
          cursor: pointer;
          text-transform: uppercase;
          padding: 2px;
        }

        .navbar__main-category-name:hover {
          color: #007bff;
        }

        .navbar__subcategories {
          display: none;
          position: absolute;
          top: 0;
          left: 100%;
          background-color: #111;
          color: white;
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          padding: 0.5rem 1rem;
          z-index: 1001;
          flex-direction: column;
          gap: 0.3rem;

          .navbar__dropdown-item {
            text-decoration: none;
            color: white;
            padding: 0.2rem 0;
            text-transform: uppercase;

            &:hover {
              color: #007bff;
            }
          }
        }
      }
    }

    &:hover .navbar__dropdown {
      display: flex;
    }
  }

  &__links {
    flex-direction: column;
    transition: transform 0.3s ease;

    &-active {
      transform: translateX(0);
    }
  }

  @media (min-width: 1300px) {
    &__links {
      flex-direction: row;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0 0.5em;
    @media (max-width: 660px) {
      justify-content: flex-end;
    }
  }

  &__links {
    @include flexCenter(column);
    gap: 1em;
    position: absolute;
    top: 8vh;
    height: 45vh;
    width: 50%;
    left: -100%;
    background-color: #111;
    transition: 0.3s ease;
    z-index: 2;
    max-height: 300px;
  }

  &__icons {
    @include flexCenter(row);
    gap: 1.6rem;
  }

  &__link,
  &__cart-link,
  &__favorites-link {
    padding: 0.4em;
    color: $white;
  }

  &__link {
    &.active {
      color: $main;
      font-weight: 500;
    }
  }

  &__cart-link,
  &__favorites-link {
    &.active {
      color: unset;
    }
  }

  &__cart,
  &__favorites {
    position: relative;
  }

  &__quantity {
    @include flexCenter(row);
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    left: 10px;
    border-radius: 50%;
    font-size: 1.2rem;
    background-color: $main;
  }

  &__basket,
  &__heart {
    font-size: 2.4rem;
  }

  &__heart:hover,
  &__basket:hover {
    color: #007bff;
  }

  &__user {
    position: relative;
    cursor: pointer;

    .navbar__user-icon {
      font-size: 2.4rem;
      transition: color 0.3s ease;
      &:hover {
        color: #007bff;
      }
    }

    .navbar__user-dropdown {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 150px;
      background-color: #ffffff;
      color: #333;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      padding: 0.5rem 1rem;
      z-index: 1000;
      flex-direction: column;
      gap: 0.5rem;

      .navbar__dropdown-link {
        text-decoration: none;
        color: #333;
        text-transform: uppercase;
        padding: 0.2rem 0;

        &:hover {
          color: $main;
        }
      }

      .navbar__logoutBtn {
        background: none;
        border: none;
        color: #333;
        text-transform: uppercase;
        padding: 0.2rem 0;
        cursor: pointer;
        transition: color 0.3s;
        font-size: 16px;
        text-align: left;

        &:hover {
          color: $main;
        }
      }
    }

    &:hover .navbar__user-dropdown {
      display: flex;
    }
  }

  &__cart-dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #222;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 150px;

    p {
      color: $white;
      margin-bottom: 0.5rem;
    }

    .navbar__cart-button {
      text-decoration: none;
      background-color: $main;
      color: $white;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      &:hover {
        color: #007bff;
      }
    }
  }

  &__links-active {
    left: 0;
  }

  &__hamburger {
    padding: 0.3em;
    margin-left: 15px;
  }

  @media (max-width: 800px) {
    &__search {
      width: 100%;
      input {
        width: calc(100% - 120px);
      }
    }
  }

  @media (min-width: 640px) {
    .navbar {
      background-color: unset;

      &__bgc {
        background-color: $darker;
      }

      &__logo {
        font-size: 4.2rem;
      }

      &__links {
        flex-direction: row;
        gap: 1em;
        position: relative;
        top: 0;
        left: unset;
        height: unset;
        width: unset;
        background-color: inherit;
        transform: translateX(0);
      }

      &__link {
        transition: color 0.3s ease;
        &:hover {
          color: $main;
        }
      }

      &__hamburger {
        display: none;
      }
    }
  }

  @media (min-width: 1024px) {
    &__logo {
      font-size: 3.5rem;
    }
  }

  @media (max-width: 624px) {
    &__search {
      display: none;
    }
  }

  .cart-icon:hover {
    color: #007bff;
  }

  .header {
    &__logo-text {
      display: block;
      width: 140px;
      height: 60px;
      background: url("../../assets/logo_of_name.png") no-repeat center center;
      background-size: contain;
      transition: box-shadow 0.3s ease;
      &:hover {
        box-shadow: 0 0 10px 2px #fd266e;
      }
    }

    &__logo {
      font-size: 3.5rem;
      color: $white;
      font-family: "Instrument Sans", sans-serif !important;
      &__display {
        @media (max-width: 640px) {
          display: flex;
          margin-right: auto;
        }
        @media (min-width: 640px) {
          display: none;
        }
      }
    }
  }

  .nav_con {
    padding-top: 0 !important;
    @media (max-width: 660px) {
      padding-top: 1rem !important;
      display: flex;
      align-items: center;
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: #064283;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 20px;
    z-index: 2000;
    transition: opacity 0.5s ease, transform 0.5s ease;

    &__content {
      display: flex;
      margin-top: 15px;
    }

    &__text {
      font-size: 1.4rem;
      margin-top: 2px;
      margin-right: 10px;
    }

    &__button {
      padding: 10px 20px;
      border: 1px solid #fff;
      background-color: rgb(255 255 255 / 0%);
      color: #fff;
      cursor: pointer;
      font-size: 1rem;
      padding: 8px 5px;
      margin-right: 10px;
      &:hover {
        background-color: #fff;
        color: #0061cc;
      }
    }

    &__close {
      font-size: 2rem;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }

    @media (max-width: 660px) {
      display: none;
    }
  }

  .modal.fade-out {
    opacity: 0;
    transform: translateY(-100%);
  }

  .search-icon {
    background-color: #00000000 !important;
    font-size: 22px;
    &:hover {
      color: #007bff;
    }
  }

  .search-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 300px;
    background: #525252;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ddd;
    gap: 0;
    position: absolute;

    input {
      padding: 10px 15px;
      border: none;
      font-size: 1.4rem;
      color: #ffffff;
      outline: none;
      background: transparent;

      &::placeholder {
        color: #ffffff;
      }
    }

    .search-btn {
      background: #2762f3;
      color: white;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      font-size: 1.4rem;
      transition: background 0.3s ease;

      &:hover {
        background: #0c48db;
      }
    }
  }

  @mixin responsive(
    $max-width,
    $search-width,
    $input-width,
    $font-size,
    $btn-padding,
    $links_gap
  ) {
    @media (max-width: $max-width) {
      .search-bar {
        max-width: $search-width;

        input {
          font-size: $font-size;
          max-width: $input-width;
        }

        .search-btn {
          font-size: $font-size;
          padding: $btn-padding;
        }
      }
      .navbar__links {
        gap: $links_gap;
      }
    }
  }

  @include responsive(1366px, 300px, 250px, 1.3rem, 8px 12px, 1em);

  @include responsive(1024px, 220px, 140px, 1rem, 8px 10px, 0.3em);

  @media (max-width: 768px) {
    .search-bar {
      max-width: 200px;
      margin: 10px auto;

      input {
        font-size: 1.1rem;
        padding: 12px;
        max-width: 120px;
      }

      .search-btn {
        font-size: 1.1rem;
        padding: 12px 15px;
      }
    }
  }
}
