@use "../../global.scss" as *;
@use "sass:color";

.message {
  @include flexCenter(column);
  gap: 1em;
  padding: 3em 1em 2em;
  background-color: $message-bg;

  &__title {
    font-size: 4rem;
    text-align: center;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 0.5em;
    padding: 0.8em 1.8em;
    background-color: $main;
    color: $white;
    border-radius: 5px;
    border: 1px solid $main;
    transition: all 0.3s ease;

    &:hover {
      border: 1px solid $main;
      color: $main;
      background-color: rgba(255, 255, 255, 0) !important;
      transform: translateY(-2px);
      box-shadow: 0 4px 12px rgba(233, 30, 99, 0.3);
    }
  }

  &__icon {
    font-size: 2.2rem;
  }
}

@media (min-width: 768px) {
  .message {
    &__link {
      transition: background-color 0.3s ease;
      &:hover {
        background-color: $dark;
      }
    }
  }
}
