@use "../../global.scss" as *;
@use "sass:color";

.footer {
  display: flex;
  padding: 3em 0.5em 1em;
  color: $white;
  background-color: $darker;

  &__logo-text {
    display: block;
    width: 140px;
    height: 70px;
    padding: 2px;
    background: url("../../assets/logo_of_name.png") no-repeat center center;
    background-size: contain;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 0 10px 2px $btn-primary-blue;
    }
  }

  &__content {
    @include flexCenter(column);
    gap: 3em;
  }

  &__box,
  &__links {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    max-width: 300px;
  }

  &__logo {
    @include flexCenter(row);
    gap: 0.2em;
    color: $white;
    font-size: 2.5rem;
    font-family: "Instrument Sans", sans-serif !important;
  }

  &__desc {
    font-size: 1.4rem;
    text-align: center;
  }

  &__title {
    color: $main;
    font-size: 2rem;
  }

  &__link {
    color: $white;
  }

  &__contact {
    display: flex;
    gap: 0.3em;
  }

  &__line {
    height: 2px;
    margin: 2em 0 1em;
    border: none;
    background-color: $footer-line-bg;
  }

  &__date {
    @include flexCenter(column);
    gap: 1em;
    padding: 1em 0.5em;
    text-align: center;
  }

  &__logo-name {
    color: $main;
    font-weight: 500;
  }

  &__icons {
    display: flex;
    gap: 0.5em;
  }

  &__icon-bg {
    @include flexCenter(row);
    padding: 5px;
    background-color: $white;
    border-radius: 50%;
  }

  &__icon {
    color: $main;
  }
}

@media (min-width: 768px) {
  .footer {
    &__content {
      flex-direction: row;
      gap: 4em;
      align-items: start;
    }

    &__logo {
      font-size: 3rem;
    }

    &__box,
    &__links,
    &__desc {
      align-items: start;
    }

    &__desc {
      text-align: start;
    }

    &__link {
      transition: color 0.3s ease;

      &:hover {
        color: $main;
      }
    }

    &__icon-bg {
      transition: background-color 0.3s ease;

      &:hover {
        background-color: inherit;
        cursor: pointer;
      }
    }
  }
}

.footer__attribution {
  margin-top: 2rem;
  padding: 1rem;
  background-color: $footer-attribution-bg;
  border-radius: 8px;
  margin-bottom: 1rem;
  text-align: center;

  &-title {
    font-size: 1.1rem;
    margin-bottom: 0.75rem;
    font-weight: 600;
    color: $cart-dropdown-text;
  }

  &-content {
    font-size: 0.9rem;
    color: $cart-dropdown-text;
    line-height: 1.5;

    a {
      color: $cart-count-bg;
      text-decoration: underline;
      transition: color 0.2s;

      &:hover {
        color: $footer-link-hover;
      }
    }
  }

  &-list {
    margin: 0.5rem 0;
    padding-left: 1.5rem;

    li {
      margin-bottom: 0.5rem;
    }
  }
}
