@use "../../global.scss" as *;
@use "sass:color";

.modal {
  @include flexCenter(column);
  gap: 0.5em;
  position: relative;
  padding: 3em 4em;
  background-color: $modal-dark-bg;

  &__overlay {
    @include flexCenter(row);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $modal-overlay-dark;
    z-index: 99;
    color: $white;
  }

  &__title {
    text-align: center;
  }

  &__text {
    margin-bottom: 1em;
    text-align: center;
  }

  &__form {
    @include flexCenter(column);
    gap: 1em;
  }

  &__input {
    padding: 0.5em;
    width: 100%;
  }

  &__error {
    font-size: 1.4rem;
    color: $modal-error;
    line-height: 0;
  }

  &__success {
    color: $modal-success;
  }

  &__btn {
    margin-top: 1em;
    padding: 0.8em 2.8em;
    width: fit-content;
    background-color: $main;
    border-radius: 8px;
    color: $white;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: $modal-close-red;
    cursor: pointer;
    &--absolute {
      background-color: $darkblack;
    }
    &:hover {
      background-color: $darkblack;
      color: $remove-hover !important;
    }
  }
}

@media (min-width: 768px) {
  .modal {
    &__form {
      width: 550px;
    }

    &__btn {
      border: 1px solid transparent;

      &:hover {
        background-color: $modal-btn-hover;
        border: 1px solid $realwhite;
      }
    }
  }
}
