.loginPanel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f3f2f2;

  &__container {
    display: flex;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.12);
    max-width: 1000px;
    width: 100%;
  }

  &__image {
    width: 40%;
    background: url("https://e-commerce-mansy.vercel.app/assets/SignImg-Br-hVEyo.png");
    background-size: cover;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &__form {
    width: 60%;
    padding: 5vh 3vw;
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 4rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 0;
  }

  p {
    font-size: 2rem;
    opacity: 0.7;
  }

  .floating-label {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    input {
      width: 100%;
      padding: 12px;
      border: none;
      border-bottom: 2px solid #aaa;
      outline: none;
      font-size: 16px;
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
      top: -10px;
      font-size: 12px;
      color: #333;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
  }

  button {
    background-color: #007bff;
    border: 1px solid #007bff;
    padding: 0.6rem 0.8rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
  }

  button:hover {
    background-color: #ffffff;
    color: #007bff;
    border: 1px solid #007bff;
  }

  &__or {
    font-size: 14px;
    font-weight: bold;
    opacity: 0.7;
    margin: 0 10px;
  }

  &__signupBtn {
    background-color: #6d8aff;
  }

  &__signupBtn:hover {
    background-color: darken(#6d8aff, 30%);
  }

  @media (max-width: 1366px) {
    &__container {
      max-width: 700px;
    }

    &__form {
      padding: 30px;
    }
  }

  @media (max-width: 1024px) {
    &__container {
      flex-direction: column;
      align-items: center;
      max-width: 500px;
    }

    &__image {
      display: none;
    }

    &__form {
      width: 100%;
      padding: 30px;
    }

    &__buttons {
      flex-direction: column;
      align-items: center;
    }

    button {
      width: 100%;
      margin-top: 10px;
    }

    &__or {
      display: none;
    }
  }

  @media (max-width: 768px) {
    &__container {
      max-width: 90%;
      box-shadow: none;
    }

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 13px;
    }

    .floating-label input {
      font-size: 14px;
    }

    button {
      font-size: 14px;
      padding: 10px;
    }
  }
}
