@use "../../global.scss" as *;
@use "sass:color";

.registerPanel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: $login-bg;
  width: 100%;

  &__container {
    display: flex;
    background: $realwhite;
    border-radius: 4px;
    box-shadow: 0px 2px 6px -1px $login-shadow;
    max-width: 1000px;
    width: 100%;
  }

  &__image {
    width: 40%;
    background: url("https://e-commerce-mansy.vercel.app/assets/SignImg-Br-hVEyo.png");
    background-size: cover;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &__form {
    width: 60%;
    padding: 5vh 3vw;
    display: flex;
    flex-direction: column;
    gap: 0 !important;

    p {
      font-size: 2rem;
      opacity: 0.7;
    }
  }

  &__title {
    font-size: 4rem;
    font-weight: 600;
    color: $blackmain;
    margin-bottom: 0;
  }

  &__subtitle {
    font-size: 2rem;
    opacity: 0.7;
  }

  .floating-label {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    input {
      width: 100%;
      padding: 12px;
      border: none;
      border-bottom: 2px solid $login-input-border;
      outline: none;
      font-size: 16px;
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
      top: -10px;
      font-size: 12px;
      color: $account-title;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
  }

  button {
    background-color: $btn-primary-blue;
    border: 1px solid $btn-primary-blue;
    padding: 0.6rem 0.8rem;
    font-size: 2rem;
    color: $realwhite;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
  }

  button:hover {
    background-color: $realwhite;
    color: $btn-primary-blue;
    border: 1px solid $btn-primary-blue;
  }

  &__divider {
    font-size: 14px;
    font-weight: bold;
    opacity: 0.7;
    margin: 0 10px;
  }

  &__googleBtn {
    background-color: $login-signup-btn;
  }

  &__googleBtn:hover {
    background-color: color.adjust($login-signup-btn, $lightness: -30%);
  }

  &__submitBtn {
    background-color: $register-submit-btn;
    border: none;
    padding: 1.2rem 3.5rem;
    font-size: 2rem;
    color: $realwhite;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s;
    margin-top: 20px;
  }

  &__submitBtn:hover {
    background-color: color.adjust($register-submit-btn, $lightness: -30%);
  }

  &__footer {
    margin-top: 20px;
    font-size: 1.8rem;
  }

  &__link {
    color: $login-signup-btn;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 1366px) {
    &__content {
      max-width: 700px;
    }

    &__form {
      padding: 30px;
    }
  }

  @media (max-width: 1024px) {
    &__content {
      flex-direction: column;
      align-items: center;
      max-width: 500px;
    }

    &__imageWrapper {
      display: none;
    }

    &__form {
      width: 100%;
      padding: 30px;
    }

    &__buttons {
      flex-direction: column;
      align-items: center;
    }

    button {
      width: 100%;
      margin-top: 10px;
    }

    &__divider {
      display: none;
    }
  }

  @media (max-width: 768px) {
    &__content {
      max-width: 90%;
      box-shadow: none;
    }

    &__title {
      font-size: 20px;
    }

    &__subtitle {
      font-size: 13px;
    }

    .floating-label input {
      font-size: 14px;
    }

    button {
      font-size: 14px;
      padding: 10px;
    }
  }
}
