$main: #fd266e;
$white: #e6dbdb;
$dark: #1b1717;
$darker: #181414;

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

body {
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
