$toolbar-width: 180px;

#pojo-a11y-toolbar {
  position: fixed;
  font-size: 16px !important;
  line-height: 1.4;
  z-index: 9999;
  top: 220px;
  background-color: #fff;

  @media screen and (max-width: 768px) {
    top: 180px;
  }

  .pojo-a11y-toolbar-toggle {
    position: absolute;
    background-color: #fff;
    border: solid 1px #ccc;

    a,
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 200%;
      line-height: 1;
      padding: 1px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      background-color: #4054b2;
      color: #fff;
      text-decoration: none;
      border: none;
      cursor: pointer;

      &:hover,
      &:focus {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      }

      img,
      svg {
        display: block;
        width: 30px;
        height: 30px;
        max-width: none;
        flex-shrink: 0;
      }
    }
  }

  .pojo-a11y-toolbar-overlay {
    border: solid 1px #ccc;
    font-size: 100%;
    width: $toolbar-width;
    background-color: #fff;

    p.pojo-a11y-toolbar-title {
      display: block;
      line-height: 2;
      font-weight: bold;
      padding: 10px 15px 0;
      margin: 0;
      background-color: #fff;
      color: #333;
    }

    &.pojo-a11y-toolbar-open {
      .pojo-a11y-toolbar-toggle a,
      .pojo-a11y-toolbar-overlay {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      }
    }

    ul.pojo-a11y-toolbar-items {
      list-style: none;
      margin: 0;
      padding: 10px 0;

      &.pojo-a11y-links {
        border-top: 1px solid;
      }

      li.pojo-a11y-toolbar-item {
        a,
        button {
          display: block;
          width: 100%;
          padding: 10px 15px;
          font-size: 80%;
          line-height: 1;
          color: #333;
          text-decoration: none;
          transition: all 0.3s ease;
          text-align: left;
          background: none;
          border: none;
          cursor: pointer;

          &:hover {
            background-color: #f5f5f5;
          }

          &.active {
            font-weight: bold;
            background-color: #4054b2;
            color: #fff;
          }

          .pojo-a11y-toolbar-icon {
            padding-right: 6px;
            display: inline-block;
            width: 1.5em;
            font-style: normal;
            font-weight: normal;
            font-size: inherit;
            line-height: 1;
            text-align: center;
            text-rendering: auto;
            vertical-align: middle;
          }

          .pojo-a11y-toolbar-text {
            vertical-align: middle;
          }
        }
      }
    }
  }
}

// Toolbar Position Mixin
@mixin pojo-a11y-toolbar-position($direction) {
  &.pojo-a11y-toolbar-#{$direction} {
    #{$direction}: -#{$toolbar-width};
    transition: #{$direction} 750ms cubic-bezier(0.23, 1, 0.32, 1);

    &.pojo-a11y-toolbar-open {
      #{$direction}: 0;
    }

    @if $direction == left {
      .pojo-a11y-toolbar-toggle {
        left: $toolbar-width;

        a,
        button {
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
          border-top-right-radius: 3px !important;
          border-bottom-right-radius: 3px !important;
        }
      }
    } @else if $direction == right {
      .pojo-a11y-toolbar-toggle {
        right: $toolbar-width;
        bottom: 120px;

        a,
        button {
          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
          border-top-left-radius: 3px !important;
          border-bottom-left-radius: 3px !important;
        }
      }
    }
  }
}

#pojo-a11y-toolbar {
  @include pojo-a11y-toolbar-position(right);
  @include pojo-a11y-toolbar-position(left);
}

// Mobile/Desktop specific styles
html.pojo-a11y-mobile #pojo-a11y-toolbar.pojo-a11y-toolbar-left {
  left: auto !important;
  right: -180px !important;

  .pojo-a11y-toolbar-toggle {
    right: 180px !important;
    left: auto !important;

    a,
    button {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      border-top-left-radius: 3px !important;
      border-bottom-left-radius: 3px !important;
    }
  }

  &.pojo-a11y-toolbar-open {
    right: 0 !important;
  }
}

html.pojo-a11y-desktop #pojo-a11y-toolbar.pojo-a11y-toolbar-left {
  left: -180px !important;
  right: auto !important;

  .pojo-a11y-toolbar-toggle {
    left: 180px !important;
    right: auto !important;

    a,
    button {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-top-right-radius: 3px !important;
      border-bottom-right-radius: 3px !important;
    }
  }

  &.pojo-a11y-toolbar-open {
    left: 0 !important;
  }
}

// Screen Reader Only
.pojo-sr-only,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

// Focusable
body.pojo-a11y-focusable {
  *:focus {
    outline-offset: 2px;
  }
}

// Readable Font
body.pojo-a11y-readable-font {
  &,
  *:not(i):not(span) {
    font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
    font-weight: bold !important;
  }
}

// Grayscale
body.pojo-a11y-grayscale::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
  pointer-events: none;
  backdrop-filter: grayscale(100%);
}

body.pojo-a11y-grayscale {
  .tippy-popper,
  .tippy-tooltip,
  .tippy-content,
  [class*="tippy"],
  [id*="tippy"],
  .shopping-cart,
  .login-box {
    filter: grayscale(100%) !important;
  }

  #pojo-a11y-toolbar::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    backdrop-filter: grayscale(100%);
  }
}

// High Contrast
body.pojo-a11y-high-contrast {
  .placebo {
    line-height: normal;
  }

  *:not(#tidio-chat):not([id^="tidio"]):not([class^="tidio"]):not(
      [data-tidio]
    ) {
    box-shadow: none !important;
  }

  %text-elements {
    appearance: none !important;
    user-select: text !important;
    background-image: none !important;
    text-shadow: none !important;
  }

  %black-background {
    background: black !important;
    background-color: black !important;
  }

  %white-text {
    color: white !important;
  }

  %yellow-text {
    color: yellow !important;
  }

  %light-yellow-text {
    color: #ffff80 !important;
  }

  %green-headings {
    color: #40c090 !important;
  }

  a,
  article,
  aside,
  body,
  button,
  canvas,
  caption,
  center,
  code,
  col,
  colgroup,
  command,
  dd,
  del,
  details,
  dir,
  div,
  dl,
  dt,
  embed,
  fieldset,
  figcaption,
  figure,
  font,
  footer,
  form,
  header,
  hgroup,
  html,
  iframe,
  img,
  input,
  ins,
  kbd,
  label,
  legend,
  li,
  listing,
  main,
  mark,
  marquee,
  menu,
  meter,
  multicol,
  nav,
  nobr,
  object,
  ol,
  option,
  output,
  p,
  plaintext,
  pre,
  progress,
  q,
  rb,
  rp,
  rt,
  ruby,
  s,
  samp,
  section,
  select,
  small,
  span,
  strike,
  sub,
  summary,
  sup,
  svg,
  table,
  tbody,
  td,
  text,
  textarea,
  th,
  thead,
  time,
  tr,
  tt,
  ul,
  var,
  video,
  xmp {
    @extend %text-elements;
  }

  nav:not(#pojo-a11y-toolbar) {
    @extend %black-background;
  }

  a,
  article,
  aside,
  body,
  button,
  canvas,
  caption,
  center,
  code,
  col,
  colgroup,
  command,
  dd,
  del,
  details,
  dir,
  div,
  dl,
  dt,
  embed,
  fieldset,
  figcaption,
  figure,
  font,
  footer,
  form,
  header,
  hgroup,
  html,
  iframe,
  img,
  input,
  ins,
  kbd,
  label,
  legend,
  li,
  listing,
  main,
  mark,
  marquee,
  menu,
  meter,
  multicol,
  nav,
  nobr,
  object,
  ol,
  option,
  output,
  p,
  plaintext,
  pre,
  progress,
  q,
  rb,
  rp,
  rt,
  ruby,
  s,
  samp,
  section,
  select,
  small,
  span,
  strike,
  sub,
  summary,
  sup,
  svg,
  table,
  tbody,
  td,
  text,
  textarea,
  th,
  thead,
  time,
  tr,
  tt,
  ul,
  var,
  video,
  xmp {
    @extend %black-background;
    @extend %white-text;
  }

  abbr,
  acronym,
  b,
  strong {
    @extend %yellow-text;
  }

  address,
  cite,
  dfn,
  em,
  i,
  u {
    @extend %light-yellow-text;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend %green-headings;
  }

  img {
    background: #808080 !important;
    background-color: #808080 !important;
  }

  button,
  input,
  textarea,
  select,
  table,
  td,
  th,
  tr,
  tt {
    border: 1px solid #ffffff !important;
  }

  button {
    background: #600040 !important;
    background-color: #600040 !important;
  }

  select {
    appearance: listbox !important;
    background: #600060 !important;
    background-color: #600060 !important;
  }

  a:visited,
  a:visited * {
    color: #00ffff !important;
  }

  a:link,
  a.button,
  a:visited:hover,
  a.button:hover {
    color: #0080ff !important;

    &:hover {
      background: #400000 !important;
      background-color: #400000 !important;
    }
  }
}

// Negative Contrast
body.pojo-a11y-negative-contrast {
  &:not([id^="tidio"]):not([class^="tidio"]):not(#tidio-chat):not([data-tidio]),
  *:not(#pojo-a11y-toolbar):not([id^="tidio"]):not([class^="tidio"]):not(
      #tidio-chat
    ):not([data-tidio]) {
    background: #000 !important;
    color: #fff !important;

    a,
    b,
    blockquote,
    button,
    strong {
      color: yellow !important;
    }

    button,
    input,
    textarea,
    select,
    table,
    td,
    th,
    tr,
    tt {
      border: 1px solid #fff !important;
    }
  }
}

// Light Background
body.pojo-a11y-light-background {
  &:not([id^="tidio"]):not([class^="tidio"]):not(#tidio-chat):not([data-tidio]),
  *:not(#pojo-a11y-toolbar):not(.pojo-a11y-toolbar-link):not([id^="tidio"]):not(
      [class^="tidio"]
    ):not(#tidio-chat):not([data-tidio]) {
    background: #fff !important;
    color: #000 !important;
  }
}

// Links Underline
body.pojo-a11y-links-underline {
  a,
  a * {
    text-decoration: underline !important;
  }
}

// Font Size Classes
$start-loop: 100;
$end-loop: 200;

@for $size from $start-loop through $end-loop {
  body.pojo-a11y-resize-font-#{$size} {
    &,
    p:not(.pojo-a11y-toolbar-title),
    li:not(.pojo-a11y-toolbar-item),
    label,
    input,
    select,
    textarea,
    legend,
    code,
    pre,
    dd,
    dt,
    span,
    blockquote {
      font-size: #{$size + "%"} !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &,
      & span {
        font-size: #{round($size * 1.1) + "%"} !important;
      }
    }
  }
}

// Tidio Chat exceptions
#tidio-chat,
#tidio-chat *,
[id^="tidio"],
[class^="tidio"],
[data-tidio] {
  background: initial !important;
  background-color: initial !important;
  color: initial !important;
  filter: none !important;
  backdrop-filter: none !important;
}
